.main {
	text-align: center;
	margin: 10%;
	padding-top: 4%;
}

.magic-container {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5%;
}

#magic-words {
	text-align: center;
}

.btn-next {
	margin-top: 4%;
}