.main-content {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
}

.new-list-name {
	font-size: 120%;
	margin-top: 1.5%;
	text-align: left;
}

.mandatory {
	color: red;
	font-weight: bold;
}

.content {
	margin-top: 3%;
}

.create-new-list {
	margin-top: 3%;
}